/* ! normalize.css v3.0.0 | MIT License | git.io/normalize */

/*
  ! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License |
  git.io/normalize
*/


@font-face {
  font-family : 'DS-Digital Italic';
  font-style  : italic;
  font-weight : normal;
  src         : url("fonts/ds-digital/ds-digital-italic.eot");
  src         : url("fonts/ds-digital/ds-digital-italic.eot#iefix") format("embedded-opentype"),
                url("fonts/ds-digital/ds-digital-italic.woff") format("woff"),
                url("fonts/ds-digital/ds-digital-italic.ttf") format("truetype"),
                url("fonts/ds-digital/ds-digital-italic.svg#ds-digital-italic") format("svg");
}

@font-face {
  font-family : 'Octin College';
  font-style  : normal;
  font-weight : normal;
  src         : url("fonts/octin-college/octin-college.eot");
  src         : url("fonts/octin-college/octin-college.eot#iefix") format("embedded-opentype"),
                url("fonts/octin-college/octin-college.woff") format("woff"),
                url("fonts/octin-college/octin-college.ttf") format("truetype"),
                url("fonts/octin-college/octin-college.svg#octincollegeregular") format("svg");
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display : block;
}

audio,
canvas,
progress,
video {
  display        : inline-block;
  vertical-align : baseline;
}

audio:not([controls]) {
  display : none;
  height  : 0;
}

[hidden],
template {
  display : none;
}

/* ! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */

html {
  -ms-text-size-adjust     : 100%;
  -webkit-text-size-adjust : 100%;
  font-family              : sans-serif;
}

body {
  margin : 0;
  height:100%;
  width:100%;
}

/* ! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */

a {
  background : transparent;
}

a:active,
a:hover {
  outline : 0;
}

/* ! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */

abbr[title] {
  border-bottom : 1px dotted;
}

b,
strong {
  font-weight : bold;
}

dfn {
  font-style : italic;
}

h1 {
  margin    : 0.67em 0;
  font-size : 2em;
}

mark {
  color      : #000;
  background : #ff0;
}

small {
  font-size : 80%;
}

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

sup {
  top : -0.5em;
}

sub {
  bottom : -0.25em;
}

/* ! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */

img {
  border : 0;
}

svg:not(:root) {
  overflow : hidden;
}

/* ! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */

figure {
  margin : 1em 40px;
}

hr {
  -moz-box-sizing : content-box;
  box-sizing      : content-box;
  height          : 0;
}

pre {
  overflow : auto;
}

code,
kbd,
pre,
samp {
  font-family : monospace,
                monospace;
  font-size   : 1em;
}

/* ! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */

button,
input,
optgroup,
select,
textarea {
  margin : 0;
  color  : inherit;
  font   : inherit;
}

button {
  overflow : visible;
}

button,
select {
  text-transform : none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance : button;
  cursor             : pointer;
}

button[disabled],
html input[disabled] {
  cursor : default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding : 0;
  border  : 0;
}

input {
  line-height : normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing : border-box;
  padding    : 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height : auto;
}

input[type="search"] {
  -moz-box-sizing    : content-box;
  -webkit-box-sizing : content-box;
  box-sizing         : content-box;
  -webkit-appearance : textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance : none;
}

fieldset {
  margin  : 0 2px;
  padding : 0.35em 0.625em 0.75em;
  border  : 1px solid #c0c0c0;
}

legend {
  padding : 0;
  border  : 0;
}

textarea {
  overflow : auto;
}

optgroup {
  font-weight : bold;
}

/* ! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */

table {
  border-collapse : collapse;
  border-spacing  : 0;
}

td,
th {
  padding : 0;
}

.column,
.columns {
  float         : left;
  padding-right : 0.5em;
  padding-left  : 0.5em;
}

.column.small-1,
.columns.small-1 {
  width : 8.33333%;
}

.column.small-2,
.columns.small-2 {
  width : 16.66667%;
}

.column.small-3,
.columns.small-3 {
  width : 25%;
}

.column.small-4,
.columns.small-4 {
  width : 33.33333%;
}

.column.small-5,
.columns.small-5 {
  width : 41.66667%;
}

.column.small-6,
.columns.small-6 {
  width : 50%;
}

.column.small-7,
.columns.small-7 {
  width : 58.33333%;
}

.column.small-8,
.columns.small-8 {
  width : 66.66667%;
}

.column.small-9,
.columns.small-9 {
  width : 75%;
}

.column.small-10,
.columns.small-10 {
  width : 83.33333%;
}

.column.small-11,
.columns.small-11 {
  width : 91.66667%;
}

.column.small-12,
.columns.small-12 {
  width : 100%;
}

.medium-up {
  display : none;
}

.large-up {
  display : none;
}

.row {
  max-width : 64em;
  margin    : 0 auto;
}

.row .row {
  margin : 0 -0.5em;
}

.row:after,
.row:before {
  content : ' ';
  display : table;
}

.row:after {
  clear : both;
}

@media only screen
       and (min-width: 40em) {
  .column.medium-1,
  .columns.medium-1 {
    width : 8.33333%;
  }

  .column.medium-2,
  .columns.medium-2 {
    width : 16.66667%;
  }

  .column.medium-3,
  .columns.medium-3 {
    width : 25%;
  }

  .column.medium-4,
  .columns.medium-4 {
    width : 33.33333%;
  }

  .column.medium-5,
  .columns.medium-5 {
    width : 41.66667%;
  }

  .column.medium-6,
  .columns.medium-6 {
    width : 50%;
  }

  .column.medium-7,
  .columns.medium-7 {
    width : 58.33333%;
  }

  .column.medium-8,
  .columns.medium-8 {
    width : 66.66667%;
  }

  .column.medium-9,
  .columns.medium-9 {
    width : 75%;
  }

  .column.medium-10,
  .columns.medium-10 {
    width : 83.33333%;
  }

  .column.medium-11,
  .columns.medium-11 {
    width : 91.66667%;
  }

  .column.medium-12,
  .columns.medium-12 {
    width : 100%;
  }

  .medium-up {
    display : block;
  }
}

@media only screen
       and (min-width: 64em) {
  .column.large-1,
  .columns.large-1 {
    width : 8.33333%;
  }

  .column.large-2,
  .columns.large-2 {
    width : 16.66667%;
  }

  .column.large-3,
  .columns.large-3 {
    width : 25%;
  }

  .column.large-4,
  .columns.large-4 {
    width : 33.33333%;
  }

  .column.large-5,
  .columns.large-5 {
    width : 41.66667%;
  }

  .column.large-6,
  .columns.large-6 {
    width : 50%;
  }

  .column.large-7,
  .columns.large-7 {
    width : 58.33333%;
  }

  .column.large-8,
  .columns.large-8 {
    width : 66.66667%;
  }

  .column.large-9,
  .columns.large-9 {
    width : 75%;
  }

  .column.large-10,
  .columns.large-10 {
    width : 83.33333%;
  }

  .column.large-11,
  .columns.large-11 {
    width : 91.66667%;
  }

  .column.large-12,
  .columns.large-12 {
    width : 100%;
  }

  .large-up {
    display : block;
  }
}

.block-content {
  padding          : 1em;
  background-color : #fff;
}

.block-pull {
  margin-top : -1em;
}

.block-title {
  margin-top       : 1em;
  padding          : 1em;
  background-color : rgba(16,16,16,0.8);
}

.block-title h2 {
  margin : 0;
  color  : #fff;
}

.instructor a {
  color : #101010;
}

.instructor a:active,
.instructor a:hover {
  text-decoration : underline;
}

.instructor .bio-toggle,
.instructor .facebook,
.instructor .mail,
.instructor .name,
.instructor .phone,
.instructor .twitter {
  margin       : 0.25em 0;
  padding-left : 24px;
}

.instructor .bio-toggle {
  background : url('images/icon-arrow.png?1463877117') no-repeat;
}

.instructor .facebook {
  background : url('images/icon-social.png?1463877117') no-repeat 0 -66px;
}

.instructor .mail {
  background : url('images/icon-social.png?1463877117') no-repeat 0 -44px;
}

.instructor .name {
  color       : #c21020;
  background  : url('images/icon-person.png?1463877117') no-repeat 0px 4px;
  font-family : "Octin College",
                sans-serif;
  font-size   : 1.25em;
}

.instructor .phone {
  background : url('images/icon-social.png?1463877117') no-repeat 0 -24px;
}

.instructor .picture {
  margin-bottom : 0.5em;
}

.instructor .toggle-bio {
  background : url('images/icon-arrow.png?1463877117') no-repeat;
}

.instructor .twitter {
  background : url('images/icon-social.png?1463877117') no-repeat 0 -88px;
}

.school .booking,
.school .facebook,
.school .mail,
.school .phone,
.school .twitter,
.school .url {
  display           : block;
  margin-top        : 0.5em;
  padding           : 0.25em 0.5em;
  color             : #fff;
  background-image  : url('images/icon-info.png?1463877117');
  background-repeat : no-repeat;
  background-clip   : padding-box;
  font-family       : "Octin College",
                      sans-serif;
  font-size         : 1.25em;
}

.school .booking {
  background-color    : #c21020;
  background-position : right 2px;
}

.school .facebook {
  background-color    : #074590;
  background-position : right -174px;
}

.school .mail {
  background-color    : #c21020;
  background-position : right -86px;
}

.school .phone {
  background-color    : #c21020;
  background-position : right -43px;
}

.school .twitter {
  background-color    : #3baae1;
  background-position : right -218px;
}

.school .url {
  background-color    : #c21020;
  background-position : right -130px;
}

.sharing a {
  display      : inline-block;
  width        : 32px;
  height       : 32px;
  margin-right : 0.4em;
}

.sharing .email {
  background-image : url('images/sharing/email.png?1463877117');
}

.sharing .facebook {
  background-image : url('images/sharing/facebook.png?1463877117');
}

.sharing .linkedin {
  background-image : url('images/sharing/linkedin.png?1463877117');
}

.sharing .plus {
  background-image : url('images/sharing/plus.png?1463877117');
}

.sharing .twitter {
  background-image : url('images/sharing/twitter.png?1463877117');
}

.action-error {
  display : inline-block;
  color   : #c21020;
}

.add-on {
  display               : inline-block;
  width                 : 15%;
  height                : 2em;
  float                 : left;
  padding               : 0.25em 0.5em;
  border                : 1px solid #b6b6b6;
  -moz-border-radius    : 4px 0 0 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px 0 0 4px;
  border-right-style    : none;
  background-color      : #cfcfcf;
  text-align            : center;
}

.add-on+.form-text {
  width                 : 85%;
  float                 : left;
  border-left           : 1px solid #b6b6b6;
  -moz-border-radius    : 0 4px 4px 0;
  -webkit-border-radius : 0;
  border-radius         : 0 4px 4px 0;
}

.button-group {
  display      : inline-block;
  margin-right : 0.5em;
}

.button-group .form-button {
  float                 : left;
  margin                : 0;
  -moz-border-radius    : 0;
  -webkit-border-radius : 0;
  border-radius         : 0;
  border-right-width    : 0;
}

.button-group .form-button.first {
  -moz-border-radius    : 4px 0 0 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px 0 0 4px;
}

.button-group .form-button.last {
  -moz-border-radius    : 0 4px 4px 0;
  -webkit-border-radius : 0;
  border-radius         : 0 4px 4px 0;
  border-right-width    : 1px;
}

.button-group .form-button.only {
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
}

.dropzone {
  padding      : 2em;
  border-color : #cfcfcf;
  border-style : dashed;
  text-align   : center;
  font-size    : 1.5em;
  font-weight  : bold;
  cursor       : pointer;
}

.dropzone.over {
  border-color : #505050;
}

.composed-date .day,
.composed-date .month,
.composed-date .year {
  display : inline-block;
}

.composed-date .day,
.composed-date .month {
  width : 3.5em;
}

.composed-date .year {
  width : 5em;
}

.form-button {
  display               : inline-block;
  margin-right          : 0.5em;
  padding               : 0.25em 0.5em;
  border                : 1px solid transparent;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
  font-family           : "Octin College",
                          sans-serif;
  line-height           : 1.5em;
  cursor                : pointer;
}

.form-button.blue {
  color            : #fff;
  border-color     : #2c508a;
  background-color : #3866b1;
}

.form-button.blue[disabled],
.form-button.blue[disabled]:hover {
  border-color     : #678ecf;
  background-color : #8dabdb;
}

.form-button.blue.wysihtml5-command-active,
.form-button.blue:hover {
  border-color     : #264577;
  background-color : #325b9e;
}

.form-button.gray {
  color            : #303030;
  border-color     : #b6b6b6;
  background-color : #cfcfcf;
}

.form-button.gray[disabled],
.form-button.gray[disabled]:hover {
  border-color     : #f5f5f5;
  background-color : #fff;
}

.form-button.gray.wysihtml5-command-active,
.form-button.gray:hover {
  border-color     : #a9a9a9;
  background-color : #c2c2c2;
}

.form-button.red {
  color            : #fff;
  border-color     : #930c18;
  background-color : #c21020;
}

.form-button.red[disabled],
.form-button.red[disabled]:hover {
  border-color     : #ee3142;
  background-color : #f2606d;
}

.form-button.red.wysihtml5-command-active,
.form-button.red:hover {
  border-color     : #7b0a14;
  background-color : #aa0e1c;
}

.form-group {
  padding-bottom : 1.5em;
}

.form-help {
  margin     : 0.5em 0;
  color      : #505050;
  font-size  : 0.8em;
  font-style : italic;
}

.form-help-button {
  display          : inline-block;
  width            : 1.5em;
  margin           : 0.5em auto;
  color            : #fff;
  border-radius    : 100%;
  background-color : #c21020;
  text-align       : center;
  font-size        : 0.83em;
  font-weight      : bold;
  line-height      : 1.5;
  cursor           : pointer;
}

.form-help-button:focus,
.form-help-button:hover {
  color : #fff;
}

.form-label {
  color : #505050;
}

.form-label .required:after {
  content : ' *';
  color   : #c21020;
}

.form-select,
.form-text {
  display               : block;
  width                 : 100%;
  height                : 2em;
  padding               : 0.25em 0.5em;
  color                 : #505050;
  border                : 1px solid #cfcfcf;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
  background-color      : #fff;
  -moz-box-shadow       : 0px 1px 1px rgba(16,16,16,0.1) inset;
  -webkit-box-shadow    : 0px 1px 1px rgba(16,16,16,0.1) inset;
  box-shadow            : 0px 1px 1px rgba(16,16,16,0.1) inset;
  line-height           : 1.5;
  -moz-transition       : all .1s;
  -o-transition         : all .1s;
  -webkit-transition    : all .1s;
  transition            : all .1s;
}

.form-select[disabled=disabled],
.form-text[disabled=disabled] {
  background-color : #cfcfcf;
}

.form-select:focus,
.form-text:focus {
  border-color       : #3866b1;
  outline            : none;
  -moz-box-shadow    : 0px 1px 1px rgba(16,16,16,0.1) inset,
                       0px 0px 8px rgba(56,102,177,0.6);
  -webkit-box-shadow : 0px 1px 1px rgba(16,16,16,0.1) inset,
                       0px 0px 8px rgba(56,102,177,0.6);
  box-shadow         : 0px 1px 1px rgba(16,16,16,0.1) inset,
                       0px 0px 8px rgba(56,102,177,0.6);
}

.form-select.inline,
.form-text.inline {
  display : inline-block;
  width   : 8em;
}

.form-select.multiple,
.form-text.multiple {
  height : auto;
}

.picture-actions {
  margin-bottom : 0.5em;
}

.picture-actions .form-button {
  width : 100%;
}

.picture-dropzone {
  padding   : 1em;
  font-size : 1em;
}

.picture-transform {
  margin-bottom : 0.5em;
}

.progress {
  height                : 1em;
  margin                : 0.25em 0;
  overflow              : hidden;
  -moz-border-radius    : 2px;
  -webkit-border-radius : 2px;
  border-radius         : 2px;
  background-color      : #cfcfcf;
  -moz-box-shadow       : 0px 1px 2px rgba(16,16,16,0.1) inset;
  -webkit-box-shadow    : 0px 1px 2px rgba(16,16,16,0.1) inset;
  box-shadow            : 0px 1px 2px rgba(16,16,16,0.1) inset;
}

.progress.error .progress-bar {
  background-color : #c21020;
}

.progress-bar {
  height                   : 100%;
  float                    : left;
  background-color         : #3866b1;
  -moz-box-shadow          : 0px -1px 0px rgba(16,16,16,0.1) inset;
  -webkit-box-shadow       : 0px -1px 0px rgba(16,16,16,0.1) inset;
  box-shadow               : 0px -1px 0px rgba(16,16,16,0.1) inset;
  -moz-transition          : width .6s ease 0s;
  -o-transition            : width .6s ease 0s;
  -webkit-transition       : width .6s ease;
  transition               : width .6s ease 0s;
  -webkit-transition-delay : 0s;
}

.rich-text-area .inline-form {
  margin-top    : 0.5em;
  margin-bottom : 0.5em;
}

@media only screen
       and (min-width: 64em) {
  .form-label {
    padding    : 0.25em 0;
    text-align : right;
  }
}

.table {
  width        : 100%;
  table-layout : fixed;
}

.table tbody tr {
  border-bottom : 1px solid #cfcfcf;
}

.table tbody tr:hover {
  background-color : #f2f2f2;
}

.table td,
.table th {
  padding       : 0.25em 0.5em;
  overflow      : hidden;
  text-overflow : ellipsis;
}

.table th {
  color            : #fff;
  background-color : #c21020;
  text-align       : left;
  text-transform   : uppercase;
  font-size        : 0.88em;
  font-weight      : normal;
}

.table th a {
  color : #fff;
}

.table-placeholder {
  padding    : 1.5em 0;
  color      : #505050;
  text-align : center;
  font-size  : 2em;
}

#galleria-loader {
  height : 1px !important;
}

.galleria-theme-classic {
  position : relative;
  overflow : hidden;
}

.galleria-theme-classic img {
  user-select : none;
}

.galleria-theme-classic .galleria-carousel .galleria-thumbnails-list {
  margin : 0 2em;
}

.galleria-theme-classic .galleria-info {
  z-index  : 1;
  position : absolute;
  top      : 0px;
  width    : 100%;
}

.galleria-theme-classic .galleria-info .galleria-info-title {
  padding            : 0.25em 0.5em;
  color              : #fff;
  background-color   : rgba(0,0,0,0.5);
  -moz-transition    : background-color .25s;
  -o-transition      : background-color .25s;
  -webkit-transition : background-color .25s;
  transition         : background-color .25s;
}

.galleria-theme-classic .galleria-info .galleria-info-title:hover {
  background-color : rgba(0,0,0,0.8);
}

.galleria-theme-classic .galleria-info .galleria-info-title a {
  color : #c21020;
}

.galleria-theme-classic .galleria-image-nav {
  position   : absolute;
  top        : 50%;
  left       : 0;
  width      : 100%;
  height     : 32px;
  margin-top : -16px;
}

.galleria-theme-classic .galleria-image-nav-left,
.galleria-theme-classic .galleria-image-nav-right {
  z-index     : 2;
  position    : absolute;
  width       : 32px;
  height      : 32px;
  opacity     : 0.5;
  text-align  : center;
  font-size   : 24px;
  line-height : 32px;
  cursor      : pointer;
}

.galleria-theme-classic .galleria-image-nav-left:after,
.galleria-theme-classic .galleria-image-nav-right:after {
  position              : absolute;
  top                   : 0;
  left                  : 0;
  width                 : 32px;
  color                 : #fff;
  -moz-border-radius    : 100%;
  -webkit-border-radius : 100%;
  border-radius         : 100%;
  background-color      : #101010;
  line-height           : 32px;
}

.galleria-theme-classic .galleria-image-nav-left:hover,
.galleria-theme-classic .galleria-image-nav-right:hover {
  opacity : 0.8;
}

.galleria-theme-classic .galleria-image-nav-left {
  left : 1em;
}

.galleria-theme-classic .galleria-image-nav-left:after {
  content : '<';
}

.galleria-theme-classic .galleria-image-nav-right {
  right : 1em;
}

.galleria-theme-classic .galleria-image-nav-right:after {
  content : '>';
}

.galleria-theme-classic .galleria-loader {
  z-index    : 2;
  display    : none;
  position   : absolute;
  top        : 1em;
  right      : 1em;
  width      : 20px;
  height     : 20px;
  background : url('images/spinner.gif?1463877117') no-repeat;
}

.galleria-theme-classic .galleria-stage {
  position   : absolute;
  top        : 0;
  right      : 0;
  bottom     : 91px;
  left       : 0;
  overflow   : hidden;
  background : #cfcfcf;
}

.galleria-theme-classic .galleria-thumb-nav-left,
.galleria-theme-classic .galleria-thumb-nav-right {
  z-index          : 3;
  position         : absolute;
  top              : 0;
  width            : 24px;
  height           : 75px;
  color            : white;
  opacity          : 0.8;
  background-color : #c21020;
  text-align       : center;
  cursor           : pointer;
}

.galleria-theme-classic .galleria-thumb-nav-left:after,
.galleria-theme-classic .galleria-thumb-nav-right:after {
  position    : absolute;
  top         : 50%;
  left        : 0;
  width       : 100%;
  height      : 16px;
  margin-top  : -8px;
  line-height : 16px;
}

.galleria-theme-classic .galleria-thumb-nav-left:hover,
.galleria-theme-classic .galleria-thumb-nav-right:hover {
  opacity : 1;
}

.galleria-theme-classic .galleria-thumb-nav-left {
  left : 0;
}

.galleria-theme-classic .galleria-thumb-nav-left:after {
  content : '<';
}

.galleria-theme-classic .galleria-thumb-nav-right {
  right : 0;
}

.galleria-theme-classic .galleria-thumb-nav-right:after {
  content : '>';
}

.galleria-theme-classic .galleria-thumbnails .galleria-image {
  width        : 100px;
  height       : 75px;
  float        : left;
  margin-right : 1em;
  cursor       : pointer;
}

.galleria-theme-classic .galleria-thumbnails-container {
  z-index  : 2;
  position : absolute;
  right    : 0;
  bottom   : 0;
  left     : 0;
  height   : 75px;
}

.galleria-theme-classic .galleria-thumbnails-container .disabled,
.galleria-theme-classic .galleria-thumbnails-container .disabled:hover {
  opacity : 0.2;
  cursor  : default;
}

.guillotine-canvas {
  position   : absolute;
  top        : 0;
  left       : 0;
  margin     : 0 !important;
  padding    : 0 !important;
  border     : none !important;
  text-align : center;
}

.guillotine-canvas>* {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  max-width  : none;
  height     : 100%;
  max-height : none;
  margin     : 0 !important;
  padding    : 0 !important;
  border     : none !important;
}

.guillotine-window {
  display  : block;
  position : relative;
  overflow : hidden;
}

.pika-button {
  width       : 100%;
  padding     : 5px;
  color       : #303030;
  border      : none;
  outline     : none;
  text-align  : right;
  font-size   : 90%;
  line-height : 15px;
  cursor      : pointer;
}

.pika-button:hover {
  color      : #fff !important;
  background : #c21020 !important;
}

.pika-label {
  display     : inline-block;
  position    : relative;
  padding     : 5px 3px;
  overflow    : hidden;
  font-weight : bold;
}

.pika-next,
.pika-prev {
  position    : absolute;
  width       : 20px;
  height      : 25px;
  color       : #505050;
  border      : none;
  background  : none;
  outline     : none;
  font-weight : bold;
  cursor      : pointer;
}

.pika-next:hover,
.pika-prev:hover {
  color : #303030;
}

.pika-next {
  top   : 0;
  right : 0;
}

.pika-prev {
  top  : 0;
  left : 0;
}

.pika-select {
  display     : inline-block;
  font-weight : normal;
}

.pika-single {
  display    : block;
  position   : relative;
  width      : 240px;
  padding    : 8px;
  color      : #303030;
  border     : 1px solid #cfcfcf;
  background : #fff;
}

.pika-single.is-bound {
  position : absolute;
}

.pika-single.is-hidden {
  display : none;
}

.pika-title {
  position   : relative;
  text-align : center;
}

.pika-title select {
  position    : absolute;
  left        : 0;
  opacity     : 0;
  font-weight : normal;
  cursor      : pointer;
}

.pika-table {
  width           : 100%;
  border          : none;
  border-collapse : collapse;
  border-spacing  : 0;
}

.pika-table abbr {
  border-bottom : none;
}

.pika-table td,
.pika-table th {
  width   : 14.28571%;
  padding : 0;
}

.pika-table th {
  color       : #505050;
  text-align  : center;
  font-size   : 90%;
  font-weight : bold;
  line-height : 25px;
}

.pika-table .is-disabled .pika-button {
  color          : #505050;
  pointer-events : none;
  cursor         : default;
}

.pika-table .is-selected .pika-button {
  color            : #fff;
  background-color : #3866b1;
  font-weight      : bold;
}

.pika-table .is-selected.is-today .pika-button {
  color : #fff;
}

.pika-table .is-today .pika-button {
  color       : #3866b1;
  font-weight : bold;
}

.tooltip {
  z-index     : 1000;
  display     : block;
  visibility  : visible;
  position    : absolute;
  opacity     : 0;
  font-size   : 0.75em;
  line-height : 1.33;
}

.tooltip.bottom {
  margin-top : 5px;
  padding    : 0.5em 0;
}

.tooltip.bottom .tooltip-arrow {
  top                 : 1px;
  left                : 50%;
  margin-left         : -5px;
  border-bottom-color : #101010;
  border-width        : 0 5px 5px;
}

.tooltip.fade {
  -moz-transition    : opacity .25s;
  -o-transition      : opacity .25s;
  -webkit-transition : opacity .25s;
  transition         : opacity .25s;
}

.tooltip.in {
  opacity : 0.9;
}

.tooltip-arrow {
  position     : absolute;
  width        : 0;
  height       : 0;
  border-color : transparent;
  border-style : solid;
}

.tooltip-inner {
  max-width             : 200px;
  padding               : 0.5em;
  color                 : #fff;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
  background-color      : #101010;
  text-align            : center;
}

.tt-dropdown-menu {
  z-index               : 100;
  width                 : 100%;
  margin-top            : 2px;
  padding               : 5px 0;
  border                : 1px solid #cfcfcf;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
  background-color      : #fff;
  -moz-box-shadow       : 0px 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow    : 0px 5px 10px rgba(0,0,0,0.2);
  box-shadow            : 0px 5px 10px rgba(0,0,0,0.2);
}

.tt-hint {
  color : #cfcfcf;
}

.tt-suggestion {
  padding : 0.25em 0.5em;
}

.tt-suggestion.tt-cursor {
  color            : #fff;
  background-color : #3866b1;
  cursor           : pointer;
}

.tt-suggestion p {
  margin : 0;
}

.twitter-typeahead {
  width : 100%;
}

*,
*:after,
*:before {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}

a {
  color           : #3866b1;
  text-decoration : none;
  cursor          : pointer;
}

a:focus,
a:hover {
  color : #5380c9;
}

body {
  color       : #101010;
  background  : #fff;
  font-family : Arial,
                sans-serif;
  font-size   : 16px;
  line-height : 1.5;
}

h1,
h2,
h3 {
  margin-top  : 0;
  color       : #c21020;
  font-family : "Octin College",
                sans-serif;
  font-weight : normal;
}

img {
  display   : block;
  max-width : 100%;
  height    : auto;
}

.actions a {
  display       : block;
  margin-bottom : 0.66em;
  padding       : 1em 1.5em;
  color         : #fff;
  text-align    : center;
  font-family   : "Octin College",
                  sans-serif;
  font-size     : 1.5em;
}

.actions .cancel,
.actions .password {
  background-color : #505050;
}

.actions .cancel:hover,
.actions .password:hover {
  background-color : dimgray;
}

.actions .delete {
  background-color : #c21020;
}

.actions .delete:hover {
  background-color : #ec192c;
}

.actions .edit {
  background-color : #3866b1;
}

.actions .edit:hover {
  background-color : #5380c9;
}

.application {
  position              : relative;
  right                 : 0;
  background-color      : #fff;
  background-attachment : fixed;
  background-position   : 0 center;
}

.application.menu-active {
  right               : 17em;
  background-position : -17em center;
}

.box {
  padding : 1em;
}

.box.black {
  color            : #fff;
  background-color : rgba(16,16,16,0.8);
}

.box.black h1 {
  color : #fff;
}

.box.gray {
  background-color : rgba(207,207,207,0.8);
}

.box.white {
  background-color : #fff;
}

.box h1 {
  margin-bottom : 0.25em;
}

.brand {
  padding          : 1em 0;
  background-color : #fff;
}

.brand .row {
  position : relative;
}

.brand-logo {
  display          : block;
  width            : 144px;
  height           : 42px;
  background-image : url('images/logo.png?1463877117');
  text-indent      : -9999px;
}

.content {
  padding : 2em 0;
}

.en-toggle,
.fr-toggle,
.menu-toggle {
  display               : block;
  position              : absolute;
  top                   : 50%;
  width                 : 2.5em;
  height                : 2.5em;
  margin-top            : -1.33em;
  color                 : white;
  -moz-border-radius    : 100%;
  -webkit-border-radius : 100%;
  border-radius         : 100%;
  text-align            : center;
  font-size             : 0.8em;
  font-weight           : bold;
  line-height           : 2.5em;
  cursor                : pointer;
}

.en-toggle,
.fr-toggle {
  background-color : #cfcfcf;
}

.en-toggle:hover,
.fr-toggle:hover {
  color            : #fff;
  background-color : #b6b6b6;
}

.en-toggle.active,
.fr-toggle.active {
  background-color : #3866b1;
}

.en-toggle.active:hover,
.fr-toggle.active:hover {
  background-color : #2c508a;
}

.en-toggle {
  right : 3.75em;
}

.footer-menu {
  padding          : 0.5em 0;
  background-color : #cfcfcf;
  text-align       : center;
}

.footer-menu .menu-item {
  display        : inline-block;
  margin         : 0 0.5em;
  text-transform : uppercase;
  font-size      : 0.88em;
}

.fr-toggle {
  right : 6.875em;
}

.main-menu {
  position      : fixed;
  top           : 0;
  right         : 0;
  width         : 17em;
  border-bottom : 1px solid #5c5c5c;
}

.main-menu .menu-item:first a {
  border-top : 0;
}

.main-menu .menu-item a {
  display       : block;
  padding       : 0.25em 0.5em;
  color         : #cfcfcf;
  border-top    : 1px solid #5c5c5c;
  border-bottom : 1px solid #434343;
}

.main-menu .menu-item a.active,
.main-menu .menu-item a:hover {
  color : #fff;
}

.menu-toggle {
  right            : 0.625em;
  background-color : #c21020;
}

.menu-toggle:after {
  content            : '';
  position           : absolute;
  top                : 0.05em;
  left               : 0.66em;
  width              : 0.75em;
  height             : 0;
  -moz-box-shadow    : 0px 10px 0px 1px #fff,
                       0px 15px 0px 1px #fff,
                       0px 20px 0px 1px #fff;
  -webkit-box-shadow : 0px 10px 0px 1px #fff,
                       0px 15px 0px 1px #fff,
                       0px 20px 0px 1px #fff;
  box-shadow         : 0px 10px 0px 1px #fff,
                       0px 15px 0px 1px #fff,
                       0px 20px 0px 1px #fff;
  font-size          : 1.25em;
}

.menu-toggle:hover {
  background-color : #930c18;
}

.plain {
  white-space : pre-line;
}

.wrapper {
  background-color : #505050;
}

@media only screen
       and (min-width: 40em) {
  .brand-logo {
    width  : 288px;
    height : 84px;
  }
}

@media only screen
       and (min-width: 64em) {
  .application {
    min-height : 550px;
  }
}

.error-box,
.lookup-box {
  max-width  : 20em;
  margin     : 1em auto;
  text-align : center;
}

.error-box .error,
.lookup-box .error {
  margin-top : 0.75rem;
  color      : #c21020;
  font-size  : 0.88em;
}

.error-box .form,
.lookup-box .form {
  padding    : 1.5em 2em;
  background : #fff;
}

.error-box .form-button,
.lookup-box .form-button {
  width        : 100%;
  margin-right : 0;
}

.error-box .form-text,
.lookup-box .form-text {
  margin-bottom : 0.75em;
}

.error-box .instructions,
.lookup-box .instructions {
  padding    : 1.5rem 2rem;
  color      : #fff;
  background : rgba(16,16,16,0.8);
  font-size  : 1.25em;
}

.message-box {
  max-width  : 20em;
  margin     : 1em auto;
  padding    : 1em;
  color      : #fff;
  background : rgba(194,16,32,0.8);
  text-align : center;
}

.page .ad {
  margin-top : 1em;
}

.page .box {
  margin-bottom : 1em;
}

.page .comment {
  margin-bottom : 1em;
}

.page .comment .byline {
  color : #303030;
}

.page .comment-form .error {
  color     : #c21020;
  font-size : 0.88em;
}

.page .comments {
  margin-bottom : 2em;
}

.page .comment-photo {
  display    : inline-block;
  width      : 200px;
  margin-top : 0.5em;
}

.page .comment-photo .form-button {
  width      : 100%;
  margin-top : 0.25em;
}

.page .date {
  float : left;
}

.page .elevation {
  margin-top : 1em;
}

.page .elevation label {
  color : #303030;
}

.page .elevation .graph {
  width  : 100%;
  height : 200px;
}

.page .embed-container {
  position       : relative;
  max-width      : 100%;
  height         : auto;
  padding-bottom : 56.5%;
  overflow       : hidden;
}

.page .embed-container embed,
.page .embed-container iframe,
.page .embed-container object {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

.page .empty {
  color      : #505050;
  font-style : italic;
}

.page .footer {
  margin-top  : 1em;
  padding-top : 1em;
  color       : #cfcfcf;
  border-top  : 1px dashed #cfcfcf;
  font-size   : 0.88em;
}

.page .footer:after,
.page .footer:before {
  content : ' ';
  display : table;
}

.page .footer:after {
  clear : both;
}

.page .map {
  width  : 100%;
  height : 500px;
}

.page .map img {
  max-width : none;
}

.page .meta td {
  padding-right : 1em;
}

.page .meta th {
  text-align : left;
}

@media only screen
       and (min-width: 40em) {
  .page .comment .body {
    position         : relative;
    min-height       : 3.33em;
    padding          : 0.25em 0.5em;
    background-color : #cfcfcf;
  }

  .page .comment .body:before {
    content            : '';
    display            : block;
    position           : absolute;
    top                : 1em;
    left               : -1em;
    height             : 0;
    border             : 0.5em solid transparent;
    border-right-color : #cfcfcf;
  }

  .page .comment .byline {
    padding-right : 1.25em;
    text-align    : right;
  }
}

.page-delete .box {
  margin-bottom : 1em;
}

.page-edit hr {
  height     : 1px;
  margin     : 0 0 2em 0;
  border     : 0;
  background : #cfcfcf;
}

.page-edit .file-upload-single {
  margin-top            : 1em;
  padding               : 0.25em 0.5em;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
  background-color      : #cfcfcf;
}

.page-edit .file-upload-single .name {
  font-size   : 0.9em;
  font-weight : bold;
}

.page-edit .file-upload-single .status {
  color     : #303030;
  font-size : 0.9em;
}

.page-edit .item,
.page-edit .placeholder {
  margin-top : 1em;
}

.page-edit .item .form-button,
.page-edit .item .form-text,
.page-edit .placeholder .form-button,
.page-edit .placeholder .form-text {
  width      : 100%;
  margin-top : 0.5em;
}

.page-edit .item .thumbnail,
.page-edit .placeholder .thumbnail {
  cursor : move;
}

.page-edit .other-instructor {
  margin-bottom : 0.5em;
}

.page-edit .other-instructor .form-button {
  width : 100%;
}

.page-edit .placeholder {
  background-color : #cfcfcf;
}

.page-edit .placeholder .actions,
.page-edit .placeholder .fields {
  visibility : hidden;
}

.user-box {
  max-width  : 20em;
  margin     : 0 auto;
  text-align : center;
}

.user-box .action {
  text-align : left;
  font-size  : 0.66em;
}

.user-box .copy {
  margin-bottom : 1em;
}

.user-box .error {
  margin-bottom : 0.75rem;
  color         : #c21020;
  font-size     : 0.88em;
}

.user-box .form {
  padding    : 1.5em 2em;
  background : #fff;
}

.user-box .form-button {
  width         : 100%;
  margin-right  : 0;
  margin-bottom : 0.75em;
}

.user-box .form-text {
  margin-bottom : 0.75em;
}

.user-box .instructions {
  padding    : 1.5rem 2rem;
  color      : #fff;
  background : rgba(16,16,16,0.8);
  font-size  : 1.25em;
}

.user-filters {
  padding-bottom : 1em;
}

.user-headshot {
  margin : 0.5em 0;
}

.user-headshot,
.user-logo {
  display : table;
}

.user-headshot .logo,
.user-headshot .name,
.user-headshot .picture,
.user-logo .logo,
.user-logo .name,
.user-logo .picture {
  display        : table-cell;
  vertical-align : middle;
}

.user-headshot .logo,
.user-headshot .picture,
.user-logo .logo,
.user-logo .picture {
  max-width     : 4.5em;
  padding-right : 0.5em;
}

.user-headshot .name h2,
.user-logo .name h2 {
  margin : 0;
}

.user-headshot .picture img,
.user-logo .picture img {
  -moz-border-radius    : 100%;
  -webkit-border-radius : 100%;
  border-radius         : 100%;
}

.user-headshot .user-picture,
.user-logo .user-picture {
  margin-bottom : 0;
}

.user-ad {
  margin-top    : 1em;
  margin-bottom : 1em;
}

.user-info {
  margin-bottom : 1.75em;
}

.user-logo {
  margin-bottom : 1em;
}

.user-logo-preview {
  margin-bottom : 0.5em;
}

.user-logo-preview img {
  max-width : 4.5em;
  margin    : 0 auto;
}

.user-message {
  margin-bottom : 1em;
  padding       : 0.25em 0.5em;
  color         : #fff;
  background    : #c21020;
}

.user-picture {
  margin-bottom : 1em;
}

.user-pages .box {
  margin-bottom : 1em;
}

.user-profile .user-picture img {
  -moz-border-radius    : 100%;
  -webkit-border-radius : 100%;
  border-radius         : 100%;
}

.user-stats h4 {
  margin      : 0.5em 0;
  color       : #c21020;
  font-family : "Octin College",
                sans-serif;
  font-weight : normal;
}

.user-stats .stat {
  width                 : 75%;
  padding               : 0 0.5em;
  color                 : #303030;
  border                : 3px solid #3866b1;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  border-radius         : 4px;
  background            : #cfcfcf;
  -moz-box-shadow       : inset 0 0 4px #505050;
  -webkit-box-shadow    : inset 0 0 4px #505050;
  box-shadow            : inset 0 0 4px #505050;
  text-align            : right;
  font-family           : "DS-Digital Italic";
  font-size             : 1.5em;
  font-style            : italic;
}

.user-subnav {
  display        : none;
  padding-bottom : 1em;
}

.user-subnav:after,
.user-subnav:before {
  content : ' ';
  display : table;
}

.user-subnav:after {
  clear : both;
}

.user-subnav hr {
  height           : 1px;
  clear            : both;
  margin           : 0 0.5em;
  border           : 0;
  background-color : #838383;
}

.user-subnav .form-button {
  float        : right;
  margin-right : 0;
}

.user-subnav-link {
  display      : inline-block;
  margin-right : 0.5em;
  padding      : 0.33em 0.5em 0.5em 0.5em;
  color        : #838383;
  font-family  : "Octin College",
                 sans-serif;
  font-size    : 1.25em;
  line-height  : 1;
}

.user-subnav-link:hover {
  color : #c21020;
}

.user-subnav-link.active {
  color         : #c21020;
  border-bottom : 3px solid #838383;
}

@media only screen
       and (min-width: 64em) {
  .user-subnav {
    display : block;
  }
}
