<!-- app/application/template.hbs -->

<div class="wrapper">
  <div class="application" style="background-image: url(images/bg-esfbook.net.jpg);">
      <div class="brand">
        <div class="row">
          <div class="medium-6 columns">
            <a class="ember-logo brand-logo active" href="/">
              <img class="brand-logo" src="/images/logo.png" />
            </a>
          </div>
          <div class="medium-6 columns">
            <a class="fr-toggle {{locales.isFr}}" {{action "makeFrActive"}}>FR</a>
            <a class="en-toggle {{locales.isEn}}" {{action "makeEnActive"}}>EN</a>
          </div>
        </div>
      </div>
    {{outlet}}



  </div>

</div>
<!-- Footer, for every page, changes depending on status of fr -->

<div class="footer-menu">
  <a class="menu-item" href="/user/login">
    <span>{{t "user.access"}}</span>
  </a>
  <a class="menu-item" href="http://info.esfbook.net/conditions-generales/">
    <span>{{t "terms"}}</span>
  </a>
  <a class="menu-item" href="http://info.esfbook.net/mentions-legales">
    <span>{{t 'credits'}}</span>
  </a>
</div>
