<div class=row>
  <div class="small-12 columns">
    <div class="lookup-box">
      <div class="instructions">
        <span>{{t 'lookup.instructions'}}</span>
      </div>
      <form class="form">
        <input class="ember-view ember-text-field form-text" type="text">
        <button class="form-button blue" type="submit">
          <span> {{t 'lookup.submit'}}</span>
        </button>
      </form>
    </div>
  </div>
</div>

{{outlet}}
