<div class="content page">
  <div class="small-12 large-9 columns">
    {{message-frame}}
    {{video-frame}}
    {{gps-frame}}
    {{comment-frame}}
  </div>
  <div class="small-12 large-3 columns block-pull">
    {{instructor-frame}}
    {{school-frame}}
  </div>
</div>
