<div class="box white">
  <h1>{{t "page.comments"}}</h1>
  <div class="body">
    the comments go here
  </div>
  <h2>{{t "page.comments.add"}}</h2>
  <div class="form-group row">
    <div class="small-12 large-2 columns form-label">
      <label class="required">
        {{t "page.comments.name"}}
      </label>
    </div>
    <div class="small-12 large-10 columns">
      <input class="form-text" type="text">
    </div>
  </div>
  <div class="form-group row">
    <div class="small-12 large-2 columns form-label">
      <label class="required">
        {{t "page.comments.body"}}
      </label>
    </div>
    <div class="small-12 large-10 columns">
      <input class="form-text" type="text">
    </div>
  </div>
  <div class="form-group row">
    <div class="small-12 large-2 columns form-label">
      <label class="required">
        {{t "page.photos"}}
      </label>
    </div>
    <div class="small-12 large-10">
      <div class="file-upload">
        <div class="dropzone">
          {{t "dropzone.multiple"}}
        </div>
      </div>
    </div>
  </div>
</div>
