<div class="block-title">
  <h2> {{t "page.instructor"}} </h2>
</div>
<div class="block-content">
  <div class="instructor">
    <div class="user-picture">
      <img src="http://esfbook.net/files/pictures/547d6bffe8ff4.8f7a866aff565.jpg">
    </div>
    <div class="name"> "Pierre" </div>
    <div class="phone"></div>
    <div class="mail"></div>
    <div class="name"></div>
    <div class="name"></div>
    <a class="bio-toggle">
      {{t "user.bio"}}
    </a>
    <div class="bio plain">
      Bio here
    </div>
  </div>
</div>
