<div class="block-title">
  <h2> {{t "page.school"}} </h2>
</div>
<div class="block-content">
  <div class="school">
    <div class="user-logo">
      <div class="logo">
        <img src="http://esfbook.net/images/esf.jpg">
      </div>
      <div class="name">
        Demo
      </div>
    </div>
    <div class="phone">01 23 45 67 89</div>
    <a href="mailto:demo@domain.com" class="mail">
      {{t "school.mail"}}
    </a>
    <a href="http://www.esf.net" class="url">
      {{t "school.url"}}
    </a>
    <a href="http://www.facebook.com/ecoleduskifrancais" class="facebook">
      {{t "school.facebook"}}
    </a>
    <a href="https://www.twitter.com/morzine" class="twitter">
      {{t "school.twitter"}}
    </a>
  </div>
</div>
